<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>status</title>
</head>
<body>
<div>
    <h2>Hell0 {{u}},</h2></br>
    <h3>Your Order Placed Successfully !!!</h3></br>

    <span>order id</span><span>=</span><span>{{oid}}</span></br>
    <span>Product name</span><span>=</span><span>{{opname}}</span></br>
    <span>Transaction id</span><span>=</span><span>{{otnxid}}</span></br>
    <span>Order Date</span><span>=</span><span>{{odate}}</span></br>
    <span>status</span><span>=</span><span>Confirm</span></br>
    <span>Address</span><span>=</span><span>{{address}}</br>
    <span>Deliver in</span><span>=</span><span>5 - 7 day</span></br>
    </br>
    <button onclick="location.href='/viewproduct';">Continue Shopping</button>
    <button onclick="location.href='/feedback';">Feedback</button>

</div>
</body>
</html>