<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Deyails</title>
</head>
<body>
    <div>

        </br></br>
        <span>pid</span><span>=</span><span>{{pid}}</span></br>
        <span>product name</span><span>=</span><span>{{pname}}</span></br>
        <span>product cat</span><span>=</span><span>{{cate}}</span></br>
        <span>product price</span><span>=</span><span>{{pprice}}</span></br>
        <span>product weight</span><span>=</span><span>{{pweight}}</span></br>
        <span>description</span><span>=</span><span>{{des}}</span></br>
        </br>

        <button onclick="location.href='/viewproduct';">Cancel</button>
        <button onclick="location.href='/addpayment';">Payment</button>
    </div>
</body>
</html>